<h1>Editing comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'comment_form', :locals => {:f => f} %>
  <fieldset>
    <legend>Update Comment</legend>
    <ul class="form">
      <li>
        <%= f.submit 'Update Comment' %>
      </li>
    </ul>
  </fieldset>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>