<h1>Editing article <%= link_to 'See all articles &gt;&gt;', articles_path, {:class => 'secondary_action'}%></h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'article_form', :locals => {:f => f} %>
  <fieldset>
    <legend>Save Your Changes</legend>
    <ul class="form">
      <li>
        <%= f.submit 'Update Article' %>
      </li>
    </ul>
  </fieldset>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>