<div id="article">
<h1><%= @article.title %> <%= link_to 'See all articles &gt;&gt;', articles_path, {:class => 'secondary_action'}%></h1>
<h2>Written by: <%= @article.user.name %></h2>

<dl id="date_info">
  <dt>Created On</dt>
  <dd><%= full_date(@article.created_at) %></dd>
  <dt>Updated On</dt>
  <dd><%= full_date(@article.updated_at) %></dd>
  <dt>Published On</dt>
  <dd><%= full_date(@article.published_at) || 'not yet published' %></dd>
</dl>

<h2><%= link_to 'Preview this article &gt;&gt;', news_article_path(@article.guid) %></h2>

<h3>Excerpt</h3>
<div id="excerpt" class="preview_content">
  <%= RedCloth.new(@article.excerpt).to_html unless @article.excerpt.nil? %>
</div>

<h3>Content</h3>
<div id="content" class="preview_content">
  <%= RedCloth.new(@article.content).to_html unless @article.content.nil? %>  
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>