<li><%= label_tag 'login' %>
<%= f.text_field :login %></li>

<li><%= label_tag 'email' %>
<%= f.text_field :email %></p>

<li><%= label_tag 'password' %>
<%= f.password_field :password %></li>

<li><%= label_tag 'password_confirmation', 'Confirm Password' %>
<%= f.password_field :password_confirmation %></li>