<h1>Edit User: <%= @user.login %></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<fieldset id="user_details">
  <legend>User Details</legend>
  <ul class="form">
    <%= render :partial => 'user_essentials', :locals => {:f => f} %>
  </ul>
</fieldset>
<% if current_user.has_role?(:admin) %>
<fieldset>
  <legend>User Permissions</legend>
  <ul class="form">
    <% for role in @user.roles %><li><%= role.name %></li><% end %>
  </ul>
</fieldset>
<% end %>
<p><%= submit_tag 'Update Account' %></p>
<% end -%>