<h1>Edit User: <%= @user.login %> <%= link_to 'See all users &gt;&gt;', users_path, {:class => 'secondary_action'}%></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
<fieldset id="user_details">
  <legend>User Details</legend>
  <ul class="form">
    <%= render :partial => 'user_essentials', :locals => {:f => f} %>
  </ul>
</fieldset>
<%= render :partial => 'user_extended', :locals => {:f => f}  %>

<% if current_user.has_role?(:admin) %>
<fieldset>
  <legend>User Permissions</legend>
  <ul class="interactive_toggle_list remove_list">
    <h3>Assigned To:</h3>
    <% for role in @user.roles %>
      <li>
      <%= link_to role.name, user_remove_role_path(@user.id,role.name), {:class => 'remove'} unless role.name == 'admin' and @user.id == current_user.id %>
      </li>
    <% end %>
  </ul>
  <% if @user.id %>
  <ul class="interactive_toggle_list add_list">
    <h3>Add More Roles</h3>
    <% for role in @user.unassigned_roles %>
      <li><%= link_to role.name, user_add_role_path(@user.id,role.name), {:class => 'add'} %></li>
    <% end %>
  </ul>
  <% end %>
</fieldset>
<% end %>
<p><%= submit_tag 'Update Account' %></p>
<% end -%>