<fieldset>
    <legend>SEO Information</legend>
    <ul class="form">
      <li>
        <%= f.label :tag_list, 'Keywords:' %>
        <%= f.text_field :tag_list %>
      </li>
      <li>
        <%= f.label :seo_title, 'Page Title:' %>
        <%= f.text_field :seo_title %>
      </li>
      <li>
        <%= f.label :seo_description, 'Page Description:' %>
        <%= f.text_area :seo_description %>
      </li>
    </ul>
  </fieldset>