      <p class="article_classification"><span class="sport"><%= article.sport %></span> <span class="category"><%= article.category.name %></span></p>
      <h2 class="article_title"><%= link_to article.title, news_article_path(article.id,article.guid) %></a></h2>
      <p class="article_meta">By <a href="#" class="article_author_name"><%= article.user.login %></a> on <span class="article_published_date"><%= short_date(article.created_at) %></span>.</p>