<%= render :partial => 'mast_head' %>
<%= render :partial => 'content_based_navigation', :locals => { :sports => @sports,
                                                                :categories => @categories,
                                                                :authors => @authors } %>
<div id="article" class="content">
  <%= render :partial => 'article_synapse', :locals => {:article => @article} %>
  <div id="article_content">
    <%= RedCloth.new(@article.content).to_html %>
  </div>
</div>
<%= render :partial => 'author_profile', :locals => {:author => @author} %>


<%= render :partial => 'return_link' %>
