<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'product_form', :locals => {:f => f} %>
  <fieldset>
    <legend>Update Product</legend>
    <ul class="form">
      <li><%= f.submit 'Update' %></li>
    </ul>
  </fieldset>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>